<div class="cl-head">
  会话列表
</div>
<div *ngFor="let i of userList">
  <div class="chat-list" (click)="clickChangeUser(i)" [style.background-color]="isActiveUser(i)">
    <div class="chat-list-left">
      <div class="chat-list-avatar">
        <img src="{{imghost}}{{i?.target.icon}}">
      </div>
    </div>
    <div class="chat-list-right">
      <div class="chat-list-username">{{i?.target.name}}</div>
      <div class="chat-list-message" *ngIf="i?.messages.length>0">{{i?.messages[i.messages.length-1].content.content}}</div>
    </div>
    <div class="clear"></div>
  </div>
</div>
