<div class="footer-container text-center-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <ul class="foot-nav">
          <li>
            <a href="#">
              <span class="h6 type--uppercase">About</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="h6 type--uppercase">Careers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="h6 type--uppercase">Support</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-5">
        <ul class="social-list text-center-xs">
          <li><a href="#"><i class="mdi mdi-wechat"></i></a></li>
          <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
          <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <span class="copyright">© 2017 Chumi Inc.</span>
      </div>
      <div class="col-sm-5 text-right text-center-xs">
        <span class="copyright">support@chumi</span>
      </div>
    </div>
  </div>
</div>