<div class="container">
  <div class="flex_wrapper">
    <div class="ys_prompt_pay">
      <div class="ys_prompt_icon pay_done_icon">
        <i class="iconfont icon-correct_big"></i>
      </div>
      <div class="ys_prompt_tips">
        <h2 class="ys_pt_title">{{'message1_active'|translate}}</h2>
        <p class="ys_pt_desc">{{'message2_active'|translate}}</p>
        <!--<p class="ys_pt_desc" style="color: #57c96d">{{num}} {{'attendantswait'|translate}}</p>-->
      </div>
    </div>
    <!--<div class="users-list">-->
      <!--<ul class="people-list">-->
        <!--<li *ngFor="let user of groupUsers.slice(0, 20); let i = index">-->
          <!--<a><img src="{{http.imghost}}{{user.avatarImg}}" onError="this.src='./assets/img/group01.png';"></a><p>{{user.userName.slice(0,10)}}</p>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="pay_preview">-->
    <!--<div class="pay_ph_bd">-->
    <!--<div class="pay_ph_item">-->
    <!--<label>{{'invoiceDate'|translate}}</label>-->
    <!--<span>{{date| date: 'dd-MM-yyyy'}}</span>-->
    <!--</div>-->
    <!--<div class="pay_ph_item">-->
    <!--<label>{{'invoiceid'|translate}}</label>-->
    <!--<span>{{invoiceId}}</span>-->
    <!--</div>-->
    <!--<div class="pay_ph_item">-->
    <!--<label>{{'invoiceTitle'|translate}}</label>-->
    <!--<span>{{title}}</span>-->
    <!--</div>-->
    <!--<div class="pay_ph_item">-->
    <!--<label>{{'payamount'|translate}}</label>-->
    <!--<span>{{amount_due| currency: 'CAD'}}</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="fixed-height"></div>
    <!--<div class="go-activity">-->
      <!--<a class="go-activity-btn" href="/chat/user/{{userId}}/group/{{groupId}}">{{'JoinGroupChat'|translate}}</a>-->
    <!--</div>-->
  </div>
</div>
