
<div class="cd-popup-container">
  <h3>Sign up a new account</h3>
  <!--<p>Welcome back, sign in with your existing account credentials.</p>-->
  <div class="sub_box">
    <form metohd="post" (ngSubmit)="signup()">
      <div class="inputbox">
        <input [(ngModel)]="form.email" required name="email" type="email" placeholder="Enter your email"/>
        <input [(ngModel)]="form.password" required name="password" type="password" placeholder="Enter your password"/>
      </div>
      <p>{{this.errorMsg}}</p>
      <button class="sub_btn btn" type="submit">Sign up</button>
    </form>
  </div>
  <span class="login-tips">Already have an account?
    <a (click)="switchToSignin()" href="#">Log in</a>
  </span>
  <!--<span class="login-tips">Forgot your username or password?-->
    <!--<a href="page-accounts-create-1.html">Recover account</a>-->
  <!--</span>-->
  <a href="#0" class="cd-popup-close img-replace">Close</a>
</div>
