.chat-box{
  margin-top: 130px;
  height:600px;
  border: 1px solid #ddd;
  width: 700px;
}
.chat-side{
  float:left;
  width:100px;
  border-right:1px solid #ddd;
  height: 100%;
  background-color: #222;
}
.chat-side-img{
  padding: 19px;
}
.chat-side-img img{
  width: 60px;
  height: 60px;
}
.chat-side-tab{
  padding:7px;
  color:#e1e1e1;
  text-align: center;
  cursor: pointer;
}
.chat-side-tab:hover{
  color: #fff;
}
.chat-left{
  float: left;
  border-right:1px solid #ddd;
  height: 100%;
  overflow: scroll;
  width:250px;
}
.chat-right{
  float: left;
  width:650px;
}

.chat-main{
  height: 100%;
}
.chat-friend{
  height: 100%;
}

.clear{
  clear: both;
}

.nav-container {
  position: fixed;
  top: 0;
  /*left: 0;*/
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(41, 41, 41, .15);
  max-width: 1024px;
}
