<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            必须选择座位？
            <div class="box">
                <div class="openOne ">
                    <div class="openTwo"></div>
                </div>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <div class="panel-card">
            <div class="panel-card-title">
                门票名字
            </div>
            <div class="panel-card-entry">
                <input type="text">
            </div>
        </div>
        <div class="panel-card">
            <div class="panel-card-title">
                门票价格
            </div>
            <div class="panel-card-entry">
                <input type="text" placeholder="CAD">
            </div>
        </div>
        <div class="panel-card">
            <div class="panel-card-title">
                门票数量
            </div>
            <div class="panel-card-entry">
                <input type="text" placeholder="1">
            </div>
        </div>
        <div class="panel-card-fonter" routerLink="/uploadseats">
            增加新的门票种类
        </div>
    </div>
</div>