
.card {
    border: 1px solid #ececec;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.card:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}

.swiper-title {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 24px;
  font-size: 15px;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.swiper-title h1 {
  font-weight: 600;
  margin: 0;
  font-size: 25px;
}
.card-top {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}
.card-user {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 10px;
}
.card-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.card-avatar img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    min-height: 40px;
    border-radius: 50%;
}
.card-username {
    display: inline-block;
    margin-left: 10px;
}
.card-username span {
    font-size: 16px;
    font-weight: 600;
    color: #484848;
}
.card-time {
    float: right;
    padding-right: 15px;
    margin-top: 10px;
    color: #6b6b6b;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.card-img {
    width: 100%;
}
.card-img a {
    display: block;
}
.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-info {
    padding: 15px 15px 10px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-title {
    font-weight: 600;
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.card-sketch {
    margin-top: 10px;
    font-size: 15px;
}
.card-type {
    padding: 8px 15px 20px;
}
.card-type a {
    display: inline-block;
    color: #484848;
}
.card-type span {
    margin: 5px;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #eaeaea;
}
.card-type span:first-child {
    margin-left: 0;
}
.card-bottom {
    padding: 12px;
    border-top: 1px solid #ececec;
}
.card-bottom ul {
    padding: 10px 0 0;
    display: inline-block;
}
.card-bottom ul li {
    display: inline-block;
    margin-right: 15px;
}
.card-bottom ul li a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.card-bottom ul li a.clicked {
    color: #f73057;
}
.card-bottom ul li a:hover {
    color: #f73057;
}
.card-bottom ul li i {
    font-size: 18px;
    margin-right: 5px;
}
.card-bottom ul li span {
    font-weight: 700;
    position: relative;
    bottom: 2px;
}
.card-chat {
    float: right;
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #f73057;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.card-chat:hover {
    background-color: #e0254a;
    color: #fff;
    text-decoration: none;
}
