<div class="card-content">
  <div class="container">
    <div class="swiper-title">
      <h1>Hot Activities</h1>
    </div>
    <div class="card" *ngFor="let i of data?.feed">
      <div class="card-top">
        <div class="card-user">
          <a class="card-avatar" (click)="redirectMember(i)" href="javascript:;"><img src="{{i._creator.userPhoto}}" width="30" height="30"></a>
          <a class="card-username" (click)="redirectMember(i)" href="javascript:;"><span>{{i._creator.username}}</span></a>
        </div>
        <div class="card-time">Post on {{ i.postDate | date }}</div>
        <div class="card-body">
          <div class="card-img">
            <a href="#"><img src="{{i.cover}}"></a>
          </div>
          <div class="card-info">
            <div class="card-title">{{i.title}}</div>
            <div class="card-sketch">{{i.content}}</div>
          </div>
          <div class="card-type">
            <a href="#" *ngFor="let tag of i.tags"><span>{{tag}}</span></a>
          </div>
        </div>
        <div class="card-bottom clearfix">
          <ul>
            <li><a href="#"><i class="mdi mdi-comment-processing"></i><span>{{i.viewers}}</span></a></li>
            <li><a href="#"><i class="mdi mdi-heart"></i><span>{{i.likes.length}}</span></a></li>
            <li><a href="#"><i class="mdi mdi-share-variant"></i></a></li>
          </ul>
          <a class="card-chat" href="#">Group Chat</a>
        </div>
      </div>
    </div>
  </div>
</div>
