.chat-window-display{
  /*height: 450px;*/
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: scroll;
}
.cw-head {
  height: 40px;
  padding: 10px;
  font-style: 14px;
  color:#666;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.chat-window-messages{
  min-height: 40px;
  margin: 10px;
}
.chat-window-input{
  height: 150px;
}
.chat-window-input textarea{
  width: 100%;
  height: 100%;
}

.chat-window-avatar{
  width: 40px;
  height: 40px;
}
.chat-window-avatar img{
  width: 40px;
  height: 40px;
}
.chat-window-text{
  padding: 8px;
  color: #444;
  border: 1px solid #ccc;
  min-height: 40px;
  max-width:300px;
  margin: 0 10px;
}
.chat-window-input textarea{
  border: none;
  outline: none;
  padding: 10px;
  resize: none;

}
.clear{
  clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}
.white{
  background-color: #eee;
}
.blue{
  background-color: #99cff4;
}
